<form [formGroup]="form">
    <h3>Kommunikáció felvétel</h3>
    <mat-form-field class="max-width" appearance="fill">
      <mat-label>Státusz</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let item of statusList" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="max-width">
      <mat-label>Kategória</mat-label>
      <mat-select [formControl]="toppingsCatgoriesControl" formControlName="category" multiple>
        <mat-select-trigger>
          <mat-chip-list>
            <mat-chip *ngFor="let topping of toppingsCatgoriesControl.value"
              [removable]="true" (removed)="onToppingRemoved(topping, toppingsCatgoriesControl)">
              {{ topping }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of categoriesList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label>Prioritás (1 a legkisebb, 5 a legnagyobb)</mat-label>
    <br>
    <mat-slider thumbLabel step="1" min="1" max="5" aria-label="units" formControlName="priority"></mat-slider>
    <mat-form-field class="max-width">
        <mat-label>Médium</mat-label>
        <input matInput [(ngModel)]="data.communication.medium" focus formControlName="medium">
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Tárgy</mat-label>
        <input matInput [(ngModel)]="data.communication.subject" focus formControlName="subject">
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Téma kifejtése</mat-label>
        <textarea formControlName="topic" [(ngModel)]="data.communication.topic" matInput></textarea>
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Küldés dátuma</mat-label>
        <input matInput [(ngModel)]="data.communication.sent" value="2021-05-29" [matDatepicker]="pickerSent" formControlName="sent">
        <mat-datepicker-toggle matSuffix [for]="pickerSent"></mat-datepicker-toggle>
        <mat-datepicker #pickerSent></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Érkezés dátuma</mat-label>
        <input matInput [(ngModel)]="data.communication.received" [matDatepicker]="pickerReceived" formControlName="received">
        <mat-datepicker-toggle matSuffix [for]="pickerReceived"></mat-datepicker-toggle>
        <mat-datepicker #pickerReceived></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Címzett</mat-label>
        <input matInput [(ngModel)]="data.communication.recipient" focus formControlName="recipient">
    </mat-form-field>
    <mat-form-field class="max-width">
        <mat-label>Küldő</mat-label>
        <input matInput [(ngModel)]="data.communication.sender" focus formControlName="sender">
    </mat-form-field>
    <div style="display: flex; justify-content: flex-end;">
      <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
      <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">SZERKESZT</button>
    </div>
  </form>